#ch_main{
    width: 100%;
    height: 1000px;
    background-image:url("../img/bg/6.jpg");
    position: absolute;
    background-attachment: fixed;
    /* background-size: cover; */
    background-position: top left;
    animation: mymove 10s infinite;/* css3动画属性 */
    -webkit-animation:mymove 10s infinite;


    margin: 0;

}
@-webkit-keyframes mymove{
    50%{background-position: bottom right;}
}

#start_game_div{
    width: 100px;
    height: 100%;
    margin-top: 10px;
}
.start_game_check{
    width: 150px;
    height: 50px;
    /*background-color: #b571e2;*/
    position:relative;
    margin-left: 600px;
  margin-top: 30px;
        background-image:url("../img/button/border1.png");
    background-size: cover;
}
