.start_game_main{
     background-color: aqua;
     background-image:url("../img/bg/4.jpg");
     background-size: cover;
     width: 100%;
     height: 100%;
     position: fixed;
     background-position:  top left ;
     animation:mymove_1 10s infinite;
    /*cursor: url("../img/food/poison.png");*/

 }
@-webkit-keyframes mymove {
    50%{background-position:  bottom right ;}
}
/*地图*/
#map{
    width: 900px;
    height:520px;
    /*background-color: #adbdff;*/

    z-index: 7;
    background-size: 100%;

    /*margin-top: 70px;*/
    /*margin-left:200px;*/
 position: absolute;
    /*border-width: 5px;*/
    /*border-style: solid;*/
    /*border-color: silver;*/
    margin-top: 65px;
    margin-left:205px;

}
#map_b{
    width: 900px;
    height:520px;
    background-color: #adbdff;
    /*background-image:url("../img/bg/7.jpg");*/
    background-image:url("../img/bg/7.jpg");
    background-size: cover;
    margin-top: 65px;
    margin-left:205px;
    z-index: 6;
     opacity: 0.5;
     position: absolute;


}
#map_a{
    width: 900px;
    height:520px;
    background-color: #98fff0;
    /*background-image:url("../img/bg/7.jpg");*/
    background-size: 100%;
    margin-top: 60px;
    margin-left:200px;
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: silver;
    z-index: 5;

}
/*排行榜*/
.leaderboard_{
    /*background-color: #6bfff5;*/

    /*border-width:2px;*/
    /*border-style: solid;*/
    /*border-color:#6bfff5;*/
    width:200px;
    float: right;
    height: 100%;
    /*background-color:rgba(255,255,255,0.6);*/
    opacity: 0.1;
}
/*分数*/
.score_{
    /*background-color: #6bfff5;*/

    width: 200px;
    float:left;
    height: 100px;
    /*background-color:rgba(255,255,255,0.6);*/
    opacity: 30%;
}
.start_temp_{
    width:400px;
    position: absolute;
    height:200px;

    /*background-color: #f94c1b;*/

     color: #1c1c55;
    margin-top:300px;
    margin-left:570px;
    z-index:500 ;
     font-size:70px;
    z-index: 20;
     /*border-color: #6bfff5;*/
     /*border-width: 3px;*/

 }
.snake_head{
     position: absolute;
     width:20px;
     height: 20px;
     /*background-color: #b571e2;*/
     background-image: url("../img/snake/head_1.png");
     background-size: cover;
     /*background-image: ;*/


 }
.snake_body{
    position: absolute;
    width:20px;
    height: 20px;
    background-image: url("../img/snake/snake_body1.png");
    background-size: cover;
}
.t_head{
    position: absolute;
    width:20px;
    height: 20px;
    /*background-color: #b571e2;*/
    background-image: url("../img/snake/head_mai.png");
    background-size: cover;
    /*background-image: ;*/


}
.t_body{
    position: absolute;
    width:20px;
    height: 20px;
    background-image: url("../img/snake/t_body.png");
    background-size: cover;
}
.food_{
    position: absolute;
    width:20px;
    height: 20px;
    /*background-color: #e0e211;*/
    background-image: url("../img/food/food.png");
    background-size: 100%;
}
.accelerate{
    position: absolute;
    width:20px;
    height: 20px;
    /*background-color: #e21a29;*/
    background-image: url("../img/food/antidote.png");
    background-size: 100%;
}
.decelerate{
    position: absolute;
    width:20px;
    height: 20px;
    /*background-color: #0d0c0a;*/
    background-image: url("../img/food/poison.png");
    background-size: 100%;
}
.bomb{
    position: absolute;
    width:20px;
    height: 20px;
    /*background-color: #0d0c0a;*/
    background-image: url("../img/food/bomb.png");
    background-size: 100%;
}
.ting{
    position: absolute;
    width:20px;
    height: 20px;
    /*background-color: #0d0c0a;*/
    background-image: url("../img/button/timg.png");
    background-size: 100%;
}
#life_progress_div1{
width: 100px;
    position: absolute;
    height: 20px;
    margin-top:-20px;
    margin-left:60px;
    background-color: #ff6f32;

    border-radius: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: #130b0f;
}
#life_progress_div{
    width: 100px;
    position: absolute;
    height: 20px;
    margin-top:0px;
    margin-left:0px;
    background-color: #b2ff68;
    background-image: url("../img/button/Experience.gif");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 20%;

}
#experience_div1{
    width: 100px;
    position: absolute;
    height: 20px;
    margin-top:-20px;
    margin-left:60px;
    background-color: #b2ff68;
    border-radius: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: #130b0f;
}
#experience_div{
    width: 0px;
    position: absolute;
    height: 20px;
    margin-top:0px;
    margin-left:0px;
    background-color: #c472ff;
    background-image: url("../img/button/blood.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #b2ff68;    background-position: left;
    border-radius: 20%;
}
.over{
    width: 90px;
    height: 70px;
    position: absolute;
    /*background-color: #5b6aff;*/
    background-image: url("../img/button/jixu.png");
    background-size: cover;

}
.stop{
    width: 90px;
    height: 70px;
    position: absolute;
    /*background-color: #5b6aff;*/
    background-image: url("../img/button/stop.png");
    background-size: cover;

}
.check_topic{
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top:0px;
    margin-left: 350px;
    letter-spacing: 10px;
    /*background-color: #3529bd;*/
    opacity: 0.3;
}
